{% extends 'base.html.twig' %}

{% block title %}Editar Escrit칩rios{% endblock %}

{% block body %}
<div class="tenant-container tenant-form">
    <h2 class="page-title">Editar Escrit칩rio</h2>

    {# Formul치rio para editar nome #}
    <h4>Editar Nome</h4>
    {{ form_start(nameForm) }}
        {{ form_row(nameForm.name, {'attr': {'class': 'form-control'}}) }}
        <button class="btn btn-primary">Salvar Nome</button>
    {{ form_end(nameForm) }}

    <hr class="my-4">

    {# Formul치rio para alterar senha #}
    <h4>Alterar Senha</h4>
    {{ form_start(passwordForm) }}
        {{ form_row(passwordForm.password) }}
        {{ form_row(passwordForm.confirm_password) }}
        <button class="btn btn-dark">Alterar Senha</button>
    {{ form_end(passwordForm) }}

    <div class="mt-3 text-center">
        {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
            <a href="{{ path('app_tenant_index') }}" class="btn btn-secondary">Voltar</a>
            {{ include('tenant/_delete_form.html.twig') }}
        {% endif %}
    </div>
</div>
{% endblock %}
