{% extends 'base.html.twig' %}

{% block title %}Novo Pré-Cadastro{% endblock %}

{% block body %}
<div class="container mt-4">
    <h2 class="mb-3">Novo Pré-Cadastro</h2>

    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form_label(form.nomeCliente, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.nomeCliente, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nomeCliente) }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form_label(form.cpf, 'CPF/CNPJ', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.cpf, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.cpf) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form_label(form.tipo, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.tipo, {'attr': {'class': 'form-select'}}) }}
                {{ form_errors(form.tipo) }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form_label(form.telefone, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.telefone, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.telefone) }}
            </div>
        </div>

        <div class="mb-3">
            {{ form_label(form.areaDireito, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.areaDireito, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.areaDireito) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.prazo, 'Prazo', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.prazo, {'attr': {'class': 'form-control', 'placeholder': 'Selecione a data'}}) }}
            {{ form_errors(form.prazo) }}
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form_label(form.natureza, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.natureza, {'attr': {'class': 'form-select'}}) }}
                {{ form_errors(form.natureza) }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form_label(form.faseJudicial, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.faseJudicial, {'attr': {'class': 'form-select'}}) }}
                {{ form_errors(form.faseJudicial) }}
            </div>
        </div>

        <div class="mb-3">
            {{ form_label(form.numeroProcesso, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.numeroProcesso, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.numeroProcesso) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.numeroContrato, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.numeroContrato, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.numeroContrato) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.descricaoContrato, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.descricaoContrato, {'attr': {'class': 'form-control', 'rows': '4'}}) }}
            {{ form_errors(form.descricaoContrato) }}
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form_label(form.valorContrato, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.valorContrato, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.valorContrato) }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form_label(form.statusContrato, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.statusContrato, {'attr': {'class': 'form-select'}}) }}
                {{ form_errors(form.statusContrato) }}
            </div>
        </div>

        <button class="btn btn-success mt-3">Salvar</button>
    {{ form_end(form) }}

    <a href="{{ path('pre_cadastro_index') }}" class="btn btn-secondary mt-3">Voltar</a>
</div>
{% endblock %}
