{% extends 'base.html.twig' %}

{% block title %}Lista de Documentos{% endblock %}

{% block body %}
    <h1>Lista de Documentos</h1>
    <ul>
        {% for documento in documentos %}
            <li>
                {{ documento.titulo }} - {{ documento.arquivo }}
                <br>
                <strong>Processo:</strong> {{ documento.processo.numero }} - {{ documento.processo.status }}
                <br>
                <strong>Clientes:</strong>
                <ul>
                    {% for cliente in documento.cliente %}
                        <li>{{ cliente.nome }} - {{ cliente.email }}</li>
                    {% else %}
                        <li>Nenhum cliente vinculado</li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <li>Nenhum documento encontrado.</li>
        {% endfor %}
    </ul>
{% endblock %}
